<!doctype html>
<html lang="en">
<head>
  <title>Drought.ca.gov</title>
  <meta charset="UTF-8">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  {% set css %}
  {% include "../../../css/index.css" %}
  {% endset %}
  <!-- the inlined hardcoded grid css below is there because it was breaking sass compilation -->
  <style>
    {{ css | cssmin | safe }}
    .cagov-grid {
      grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    }
  </style>
</head>

<body>

  {% include "../../../components/utility-header/utility-header.html" %}
  {% include "../../../components/branding/branding.html" %}
  {% include "nav-component.njk" %}

  {# Landing is not the same as homepage, it could also be a category or other menu landing. Optimized for many blocks layouts. #}
  {%- if templatestring == 'landing' -%}
    {% include "../layouts/templates/landing.njk" %}
  {# Pages that don't have content navigation #}
  {%- elif templatestring == 'single-column' -%}
    {% include "../layouts/templates/single-column.njk" %}  
  {# Normal page template, with content nav and breadcrumb, if default the API will return "page" #}
  {% elif templatestring == 'page' -%}
    {% include "../layouts/templates/page.njk" %}
  {# Normal post template, with category if default the API will return "post" #}
  {% elif templatestring == 'post' -%}
    {% include "../layouts/templates/post.njk" %}
  {% elif templatestring == 'template-single-press-release ' -%}
  {# We are developing more templates for special post types, like press releases and events. #}
    {% include "../layouts/templates/post.njk" %}
  {# No template #}
  {% else %}
    <main class="page-container-ds">
      {{ content | safe }}
    </main>
  {%- endif -%}


  {% include "../footer.njk" %}
  {% include "../footer-universal.njk" %}

  {% set js %}
  {% include "../../../../docs/js/built.js" %}
  {% endset %}
  <script type="module">
    {{ js | safe }}
  </script>
</body>

</html>