<h2 class="wp-block-heading" id="drought-map">Drought map</h2>

<figure class="aligncenter size-large">
	<drought-spei-map class="data-viz-placement" role="img" aria-label="A map of California that shows 12 month moisture levels across the state. Both rain and temperature are key factors.">
		<svg width="200" height="252" viewBox="0 0 200 252" aria-hidden="true">
			<style>
				text {
					font-size: .9rem;
				}
				text.bold {
					font-weight: 700;
				}
			</style>
			<text x="0" y="0" text-anchor="start" dominant-baseline="hanging" class="bold">
				12 month SPEI
			</text>

			<text x="50" y="52" dominant-baseline="middle" text-anchor="start">
				Extremely wet
			</text>
			<text x="50" y="82" dominant-baseline="middle" text-anchor="start">
				Severely wet
			</text>
			<text x="50" y="102" dominant-baseline="middle" text-anchor="start">
				Moderately wet
			</text>
			<text x="50" y="142" dominant-baseline="middle" text-anchor="start">
				Near normal
			</text>
			<text x="50" y="182" dominant-baseline="middle" text-anchor="start">
				Moderate drought
			</text>
			<text x="50" y="202" dominant-baseline="middle" text-anchor="start">
				Severe drought
			</text>
			<text x="50" y="232" dominant-baseline="middle" text-anchor="start">
				Extreme drought
			</text>

			<g stroke="#898891" stroke-width="1">
				<rect x="1" y="31" width="28" height="20" fill="#260072"></rect>
				<rect x="1" y="51" width="28" height="20" fill="#3C00FE"></rect>
				<line x1="40" y1="33" x2="40" y2="69"></line>

				<rect x="1" y="71" width="28" height="20" fill="#01B9FF"></rect>
				<line x1="40" y1="73" x2="40" y2="89"></line>

				<rect x="1" y="91" width="28" height="20" fill="#6EFFD8"></rect>
				<line x1="40" y1="93" x2="40" y2="109"></line>

				<rect x="1" y="111" width="28" height="20" fill="#00FF19"></rect>
				<rect x="1" y="131" width="28" height="20" fill="#FFFFFF"></rect>
				<rect x="1" y="151" width="28" height="20" fill="#DEFF00"></rect>
				<line x1="40" y1="113" x2="40" y2="169"></line>

				<rect x="1" y="171" width="28" height="20" fill="#FCD800"></rect>
				<line x1="40" y1="173" x2="40" y2="189"></line>

				<rect x="1" y="191" width="28" height="20" fill="#FF8601"></rect>
				<line x1="40" y1="193" x2="40" y2="209"></line>

				<rect x="1" y="211" width="28" height="20" fill="#FE0000"></rect>
				<rect x="1" y="231" width="28" height="20" fill="#B40001"></rect>
				<line x1="40" y1="213" x2="40" y2="249"></line>
			</g>
		</svg>
		<img decoding="async" loading="lazy" class="spei-map-img" src="/assets/img/WGS84.sized.png" alt="This map of California illustrates severe drought conditions across the state.">
	</drought-spei-map>

	<figcaption>
	    Map shows the most recent 12 month Standardized Precipitation-Evapotranspiration Index (SPEI). This shows rain and temperature effects on moisture. WestWide Drought Tracker, U Idaho/WRCC, <a href="https://wrcc.dri.edu/wwdt/index.php?folder=spei12">Data Source: PRISM (Prelim)</a>.
	</figcaption>
</figure>

<h3 class="wp-block-heading" id="driest-winter-months-in-100-years-mark-third-year-of-drought">Driest winter months in 100 years mark third year of drought</h3>

<p>January, February, and March had the least rain and snow on record for any of these months in California.</p>

<p>These warm, dry months overshadowed gains in precipitation at the end of 2021. Snow melted faster than expected, reducing snowpack to just 38% of average by April 1.</p>

<p>This is the state’s second extreme drought in 10 years, a symptom of a warming climate.</p>

<p>See more on California drought conditions at <a href="https://cww.water.ca.gov/droughtindicator">California Water Watch</a>.</p>

<h2 class="wp-block-heading" id="overview-of-2021">Overview of 2021</h2>

<p>The water year that ended September 30 was the second driest on record, due to extreme heat and lack of rain and snow. All 58 counties in California are now under a drought emergency proclamation.</p>

<p>Most rain and snow falls in California from November through April. It fills the reservoirs and aquifers that we use to supply homes, businesses, and farms.&nbsp;It also supports fish and wildlife that depend on our rivers and wetlands. </p>

<p>Warm temperatures in California this April and early May have made 2021 a critically dry year. Snow melted and runoff evaporated at a faster rate in the Sacramento, Feather, and American River watersheds.&nbsp;</p>

<p>The state continues to track drought conditions. It’s committed to tackling the drought emergency while addressing long-standing water challenges.</p>

<p>Read more in <a href="https://water.ca.gov/-/media/DWR-Website/Web-Pages/Water-Basics/Drought/Files/Publications-And-Reports/091521-Water-Year-2021-broch_v2.pdf">Water Year 2021: An Extreme Year</a>.</p>

<h2 class="wp-block-heading" id="water-conditions">Water conditions</h2>

<p>Check water conditions across California:</p>
	<cagov-accordion>
		<div class="cagov-accordion-card">
		<button class="accordion-card-header accordion-alpha" type="button" aria-expanded="false">
			<div class="accordion-title">Reservoir conditions</div>
			<div class="plus-minus">
			<cagov-plus></cagov-plus>
			<cagov-minus></cagov-minus>
			</div>
		</button>
		<div class="accordion-card-container">
			<div class="card-body">
				

<ul><li><a href="http://cdec.water.ca.gov/cgi-progs/reservoirs/RES">Daily Reservoir Storage Summary</a></li><li><a href="http://cdec.water.ca.gov/resapp/RescondMain">Daily Major Reservoir Levels Graphic</a></li><li><a href="https://www.usbr.gov/mp/cvo/vungvari/dayrpt.pdf">Daily USBR Central Valley Project Reservoir Report</a></li></ul>

<p></p>
			</div>
		</div>
		</div>
	</cagov-accordion>

	<cagov-accordion>
		<div class="cagov-accordion-card">
		<button class="accordion-card-header accordion-alpha" type="button" aria-expanded="false">
			<div class="accordion-title">Precipitation</div>
			<div class="plus-minus">
			<cagov-plus></cagov-plus>
			<cagov-minus></cagov-minus>
			</div>
		</button>
		<div class="accordion-card-container">
			<div class="card-body">
				

<ul><li><a href="http://cdec.water.ca.gov/reportapp/javareports?name=PLOT_ESI.pdf">Northern Sierra Precipitation: 8-Station Index</a></li><li><a href="http://cdec.water.ca.gov/reportapp/javareports?name=PLOT_FSI.pdf">San Joaquin Precipitation: 5-Station Index</a></li><li><a href="http://cdec.water.ca.gov/reportapp/javareports?name=PLOT_TSI.pdf">Tulare Basin Precipitation: 6-Station Index</a>&nbsp;</li><li><a href="https://wrcc.dri.edu/cgi-bin/anomimage.pl?wrcOctPpct.png">Percent of Average Precipitation</a></li></ul>
			</div>
		</div>
		</div>
	</cagov-accordion>

	<cagov-accordion>
		<div class="cagov-accordion-card">
		<button class="accordion-card-header accordion-alpha" type="button" aria-expanded="false">
			<div class="accordion-title">Groundwater</div>
			<div class="plus-minus">
			<cagov-plus></cagov-plus>
			<cagov-minus></cagov-minus>
			</div>
		</button>
		<div class="accordion-card-container">
			<div class="card-body">
				

<ul><li><a href="https://sgma.water.ca.gov/CalGWLive/">California&#8217;s Groundwater Live</a></li></ul>
			</div>
		</div>
		</div>
	</cagov-accordion>

	<cagov-accordion>
		<div class="cagov-accordion-card">
		<button class="accordion-card-header accordion-alpha" type="button" aria-expanded="false">
			<div class="accordion-title">Snowpack</div>
			<div class="plus-minus">
			<cagov-plus></cagov-plus>
			<cagov-minus></cagov-minus>
			</div>
		</button>
		<div class="accordion-card-container">
			<div class="card-body">
				

<ul><li><a href="http://cdec.water.ca.gov/snowapp/sweq.action">Daily Snowpack Readings&nbsp;</a></li><li><a href="http://cdec.water.ca.gov/snowapp/swcchart.action">Regional Snowpack Plots</a></li></ul>
			</div>
		</div>
		</div>
	</cagov-accordion>

	<cagov-accordion>
		<div class="cagov-accordion-card">
		<button class="accordion-card-header accordion-alpha" type="button" aria-expanded="false">
			<div class="accordion-title">River flows</div>
			<div class="plus-minus">
			<cagov-plus></cagov-plus>
			<cagov-minus></cagov-minus>
			</div>
		</button>
		<div class="accordion-card-container">
			<div class="card-body">
				

<ul><li><a href="https://cdec.water.ca.gov/resapp/AccumulatedRunoff">Accumulated Runoff on Key Rivers</a></li></ul>
			</div>
		</div>
		</div>
	</cagov-accordion>

	<cagov-accordion>
		<div class="cagov-accordion-card">
		<button class="accordion-card-header accordion-alpha" type="button" aria-expanded="false">
			<div class="accordion-title">Dry wells</div>
			<div class="plus-minus">
			<cagov-plus></cagov-plus>
			<cagov-minus></cagov-minus>
			</div>
		</button>
		<div class="accordion-card-container">
			<div class="card-body">
				

<ul><li><a href="https://tableau.cnra.ca.gov/t/DWR_SGM/views/mydrywatersupply/Map.pdf">Statewide Distribution of Dry Wells</a></li><li><a href="https://tableau.cnra.ca.gov/t/DWR_SGM/views/mydrywatersupply/Chart.pdf">Dry Wells Reported to the State by Quarter (2013 to present)</a></li><li><a href="https://tableau.cnra.ca.gov/t/DWR_SGM/views/mydrywatersupply/Table.pdf">Summary of Dry Wells by County</a></li><li><a href="https://data.cnra.ca.gov/dataset/dry-well-reporting-system-data">Statewide Dry Well Data</a></li></ul>
			</div>
		</div>
		</div>
	</cagov-accordion>

	<cagov-accordion>
		<div class="cagov-accordion-card">
		<button class="accordion-card-header accordion-alpha" type="button" aria-expanded="false">
			<div class="accordion-title">Other resources</div>
			<div class="plus-minus">
			<cagov-plus></cagov-plus>
			<cagov-minus></cagov-minus>
			</div>
		</button>
		<div class="accordion-card-container">
			<div class="card-body">
				

<ul><li><a href="https://cww.water.ca.gov/service/document/hydroreport?_=1672248274762">Hydrology Report from California State Climatologist</a></li><li><a href="https://cdec.water.ca.gov/floodER/hydro/">Daily Statewide Hydrologic Update</a></li><li><a href="https://wrcc.dri.edu/cgi-bin/anomimage.pl?wrcOctTvdep.png">Average Temperature Departure from Average</a></li><li><a href="https://www.drought.gov/states/california">National Integrated Drought Information Systems (NIDIS) California Drought Outlook</a></li></ul>
			</div>
		</div>
		</div>
	</cagov-accordion>
<p></p>
