<h2 class="wp-block-heading" id="emergency-drinking-water">Emergency drinking water</h2>

<p>Are you having trouble getting water in your home? The State Water Resources Control Board (SWRCB) has help available for households with water shortages.</p>

<div class="wp-block-button"><a class="wp-block-button__link" href="https://www.waterboards.ca.gov/drought/drought_assistance.html">Get help</a></div>

<h3 class="wp-block-heading" id="agua-potable-de-emergencia"><em>Agua potable de emergencia</em></h3>

<p><em>¿Tiene dificultades para tener agua en su casa? La Junta Estatal del Agua (SWRCB) tiene ayuda para hogares que carecen de agua.</em></p>

<div class="wp-block-buttons is-content-justification-center is-layout-flex wp-container-1 wp-block-buttons-is-layout-flex">
<div class="wp-block-button"><a class="wp-block-button__link" href="https://www.waterboards.ca.gov/drought/drought-assistance-es.html"><em>Consiga ayuda</em></a></div>
</div>

<h2 class="wp-block-heading" id="funding-programs">Funding programs</h2>

<h3 class="wp-block-heading" id="immediate-drought-relief">Immediate drought relief</h3>

<p>In response to ongoing drought conditions, the California Legislature authorized another $300 million for the California Department of Water Resources to provide funding for interim or immediate relief. Read more at DWR&#8217;s <a href="https://water.ca.gov/Water-Basics/Drought/Drought-Funding">Drought Funding</a> page.</p>

<h3 class="wp-block-heading" id="drought-relief-for-small-communities-and-tribes">Drought relief for small communities and Tribes</h3>

<p>The <a href="https://water.ca.gov/Water-Basics/Drought/Drought-Funding/Small-Community-Drought-Relief">Small Community Drought Relief Program</a> continues to help communities and eligible Tribes that are not served by an urban water supplier. We define this as one that supplies at least 3,000 connections or 3,000 acre-feet of water per year. Small community water systems and Tribes under drought emergency should apply as soon as possible. Submit applications or questions to <a href="mailto:smallcommunitydrought@water.ca.gov">smallcommunitydrought@water.ca.gov</a>.</p>

<p>Want to see what funding this program brought to your area in 2021? See the map at <a href="https://tableau.cnra.ca.gov/t/DWR_IntegratedDataAnalysisBranch/views/Drought_Projects_20211112/DashboardDroughtFunding?%3Aembed=y&amp;%3AisGuestRedirectFromVizportal=y">2021 DWR Drought Program Funding</a>.</p>

<h3 class="wp-block-heading" id="water-efficiency-on-farms-and-ranches">Water efficiency on farms and ranches</h3>

<p>The State Water Efficiency and Enhancement Program (SWEEP) is a program for California farmers and ranchers. It funds projects that save water by increasing the efficiency of irrigation systems. Get more details and apply at CDFA’s <a href="https://www.cdfa.ca.gov/oefi/sweep/">SWEEP</a> webpage.</p>

<h3 class="wp-block-heading" id="drought-relief-for-urban-or-disadvantaged-communities-and-tribal-lands">Drought relief for urban and under-represented communities and Tribes</h3>

<p>The <a href="https://water.ca.gov/Water-Basics/Drought/Drought-Funding/Urban-Drought-Grant">Urban Community Drought Relief Program</a> offers financial help to drought relief projects that:</p>

<ul><li>Address impacts to health and human safety</li><li>Protect fish and wildlife</li><li>Provide water to those threatened with water loss or contamination</li></ul>

<p>Funding is available for Tribes, public agencies, public utilities, special districts, nonprofit organizations, mutual water companies, colleges, and regional water management groups. Interested parties can submit applications or questions to <a href="mailto:urbandrought@water.ca.gov">urbandrought@water.ca.gov</a>.</p>

<h3 class="wp-block-heading" id="drinking-water-funding">Drinking water funding</h3>

<p>For projects that benefit drinking water systems or individual households, the State Water Board provides funding to address drought-related urgent drinking water needs or long-term resilience. We partner with public agencies, tribal governments, water systems, and nonprofit organizations to develop and manage these projects, and these entities may be eligible to receive funding for the support they provide. This includes funding to counties or partner entities such as nonprofits to implement programs to address the needs of individual households served by state small water systems or domestic wells. Read more at the State Water Board’s <a href="https://www.waterboards.ca.gov/drought/funding_available.html">Drought Funding</a> page.</p>

<h2 class="wp-block-heading" id="other-help">Other help</h2>

<ul><li><a href="https://www.waterboards.ca.gov/water_issues/programs/grants_loans/docs/wrfp_guidelines.pdf">Recycled Water Program</a></li><li><a href="https://mywaterquality.ca.gov/habs/where/freshwater_events.html">Harmful Algal Blooms (HABs) Risk Monitoring</a></li><li><a href="https://www.waterboards.ca.gov/water_issues/programs/conservation_portal/water_loss_control.html">Water Loss Control</a></li><li><a href="https://drought.waterboards.ca.gov/">Drought Reporting Tool</a></li><li><a href="https://www.waterboards.ca.gov/water_issues/programs/gama/well_owners.html">Groundwater Ambient Monitoring and Assessment</a></li><li><a href="https://www.waterboards.ca.gov/water_issues/programs/cannabis/docs/cannabisfaq210707.pdf">Water Boards and Cannabis Cultivation</a></li></ul>
