<div class="wp-block-ca-design-system-feature-card cagov-with-sidebar cagov-with-sidebar-left cagov-featured-section cagov-bkgrd-gry cagov-block wp-block-ca-design-system-hero"><div><div class="cagov-stack cagov-p-2 cagov-featured-sidebar"><h2>California snowpack dropping</h2><div class="cagov-feature-card-body-content">

<p><strong>Though December storms increased our snowpack, a dry January erased those gains.</strong> Experts say that it would take 140% of the state’s normal yearly rainfall to recover from drought. Find out more:</p>

<div class="wp-block-button"><a class="wp-block-button__link" href="/weekly-drought-update">Read weekly update</a></div>

</div></div><div>
<picture>
<source srcset="https://drought.ca.gov/media/2022/02/drought2b.webp" type="image/webp">
<img loading="lazy" class="cagov-featured-image" src="https://drought.ca.gov/media/2022/02/drought2b.webp" alt="A California hillside covered in scant snow. Snowpack is an important backup resource of water for the state." width="776" height="517">
</picture>
</div></div></div>

<div class="wp-block-ca-design-system-card-grid cagov-card-grid cagov-grid cagov-stack cagov-block">    <a href="/current-drought-conditions" class="wp-block-ca-design-system-card no-deco cagov-card">
        <span class="card-text">See the drought map</span>
        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><g><path d="M0,0h24v24H0V0z" fill="none"></path></g><g><polygon points="6.23,20.23 8,22 18,12 8,2 6.23,3.77 14.46,12"></polygon></g></svg>
    </a>

    <a href="/water-saving-tips/" class="wp-block-ca-design-system-card no-deco cagov-card">
        <span class="card-text">Learn how to save water</span>
        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><g><path d="M0,0h24v24H0V0z" fill="none"></path></g><g><polygon points="6.23,20.23 8,22 18,12 8,2 6.23,3.77 14.46,12"></polygon></g></svg>
    </a>

    <a href="/newsroom" class="wp-block-ca-design-system-card no-deco cagov-card">
        <span class="card-text">Read drought news</span>
        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><g><path d="M0,0h24v24H0V0z" fill="none"></path></g><g><polygon points="6.23,20.23 8,22 18,12 8,2 6.23,3.77 14.46,12"></polygon></g></svg>
    </a></div>

<div class="wp-block-columns">
    <div class="wp-block-column">
        <div class="reservoir-levels">
            <h4>Major reservoir levels</h4>
            <p>Reservoirs get us through the dry months</p>
            <div class="reservoir-levels-data-viz">
                <div class="reservoir-levels-data-viz-details">
                    <svg width="150" height="150" viewBox="0 0 150 150">
                        <defs>
                            <clipPath id="rounded-water-bottom">
                                <!-- Clip in rounded corners on the bottom of the water. -->
                                <rect x="30" y="-15" width="90" height="150" rx="15" ry="15" />
                            </clipPath>
                        </defs>
                        <!-- Create the basin. It's static. -->
                        <path id="reservoir-svg-capacity" fill="#E1E0E3" d="M0,150 L15,0 h10 v125 a15,15 0 0 0 15,15 h70 a15,15 0 0 0 15,-15 v-125 h10 L150,150 z" />
                        <!-- Create the water. The bottom of the water is at y=135. -->
                        <rect id="reservoir-svg-filled" x="30" y="{{ majorReservoirs.shapes.currentWaterLevelY }}" fill="#003484" width="90" height="{{ majorReservoirs.shapes.currentWaterHeight }}" clip-path="url(#rounded-water-bottom)" />
                        <!-- Draw the dotted line for the average level. -->
                        <line id="reservoir-svg-average" x1="0" y1="{{ majorReservoirs.shapes.historicalLineY }}" x2="150" y2="{{ majorReservoirs.shapes.historicalLineY }}" stroke="black" stroke-width="3" stroke-dasharray="3" />
                    </svg>
                </div>
                <div class="reservoir-levels-data-viz-summary">
                    <p class="reservoir-levels-data-viz-summary-overall">
                        <span class="reservoir-levels-percentage">{{ majorReservoirs.currentPctOfHistorical }}%</span><br /> 
                        of average levels
                    </p>
                    <div id="reservoir-details-capacity" class="reservoir-details">
                        <p>{{ majorReservoirs.totalCapacityTAF }} thousands of acre feet (TAF)</p>
                        <p>Total capacity</p>
                    </div>
                    <div id="reservoir-details-average" class="reservoir-details">
                        <p>{{ majorReservoirs.historicalAverageTAF }} thousands of acre feet (TAF)</p>
                        <p>Average level historically</p>
                    </div>
                    <div id="reservoir-details-filled" class="reservoir-details">
                        <p>{{ majorReservoirs.currentStorageTAF }} thousands of acre feet (TAF)</p>
                        <p>Current level</p>
                    </div>
                </div>
            </div>
            <div class="data-viz-footer">
                <p class="data-viz-frequency">Updated daily</p>
                <p class="data-viz-more-info">
                    <a href="#">More about reservoirs</a>
                </p>
            </div>
        </div>


    </div>
    <div class="wp-block-column"></div>
</div>

<div class="wp-block-columns">
<div class="wp-block-column">
<h2 id="state-actions-against-drought">State actions against drought</h2>
<div class="wp-block-ca-design-system-post-list cagov-post-list cagov-stack">
    <div>
        <cagov-post-list 
            class="post-list" 
            data-category="Action"
            data-count="3"
            data-order="desc"
            data-endpoint="https://live-drought-ca-gov.pantheonsite.io/wp-json/wp/v2"
            data-show-excerpt="true"
            data-show-published-date="true"
            data-no-results="No posts found"
            data-show-pagination="false"
            data-read-more="&lt;a href=&quot;/state-drought-response&quot; data-type=&quot;URL&quot; data-id=&quot;/state-drought-response&quot;&gt;View all actions&lt;/a&gt;"
            data-filter="none"
        >
        </cagov-post-list>
    </div>
</div></div>

<div class="wp-block-column">
<h2 id="news">News</h2>
<div class="wp-block-ca-design-system-post-list cagov-post-list cagov-stack">
    <div>
        <cagov-post-list 
            class="post-list" 
            data-category="News"
            data-count="5"
            data-order="desc"
            data-endpoint="https://live-drought-ca-gov.pantheonsite.io/wp-json/wp/v2"
            data-show-excerpt="false"
            data-show-published-date="true"
            data-no-results="No posts found"
            data-show-pagination="false"
            data-read-more="&lt;a href=&quot;/newsroom&quot; data-type=&quot;page&quot;&gt;View all news&lt;/a&gt;"
            data-filter="none"
        >
        </cagov-post-list>
    </div>
</div></div>
</div>

<p></p>
