.snowpack-data-viz-overall {
  color: #B71234;
}

line {
  stroke: #E1E0E3;
}

.avg {
  stroke: #E5E5E5;
  fill: #E5E5E5;
}

.current {
  stroke: #003484;
  stroke-width: 3;
  fill: transparent;
}

circle {
  fill: #B71234;
}

text {
  font-size: .9rem;
}