.snowpack-levels {
  padding: 1rem;
  border: solid 1px lightgray;
}

line {
  stroke: #E1E0E3;
}

.avg {
  stroke: #E5E5E5;
  fill: #E5E5E5;
}

.current {
  stroke: #003484;
  stroke-width: 2;
  fill: transparent;
}

circle {
  fill: #B71234;
}

text {
  font-size: .9rem;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: .95rem;
}