.home-grid {
  border: 2px dashed blue;
  padding: 1rem;
  margin: 2rem 0 !important;
  h2 {
    margin-bottom: 1rem !important;
  }
  h3 {
    margin-bottom: .75rem !important;
  }
  h4 {
    margin-bottom: .5rem !important;
  }
}