<div id="page-container" class="page-container-ds">
    <div id="main-content" class="main-content-ds single-column" tabindex="-1">
    <div class="breadcrumb" aria-label="Breadcrumb" role="region">
      <a class="crumb" href="https:\/\/ca.gov" title="CA.GOV">CA.GOV</a>
      <span class="crumb separator">/</span>
      <a class="crumb" href="/" title="California drought action">California drought action</a>
      <span class="crumb separator">/</span>
      {# <span class="crumb">{{ file_ids[parent_id] | safe }}</span> #}
      {# <span class="crumb separator">/</span> #}
      <span class="crumb current">{{ title | safe }}</span>
    </div>
        <div class="ds-content-layout">
            <main class="main-primary">
                <div>
                    <article id="post-{{id}}">
                        <div class="category-label">{{ category | safe }}</div>
                        <!-- Page Title-->
                        <h1 class="page-title">{{ title | safe }}</h1>
                        <p class="page-date published">
                            <time datetime="">
                                <!-- date field -->
                            </time>
                        </p>
                        <div class="entry-content">
                            {{ content | safe }}
                        </div>
                    </article>
                </div>
            </main>
        </div>
    </div>
</div>