/* Links global styles */
a {
  color: $primary;
  &:hover {
    color: darken($color: $primary, $amount: 15%);
  }
  &:focus {
    outline: 2px solid $secondary;
  }

  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-position: under;
}
