/* Typography global styles */
/* TYPOGRAPHY */
h1.page-title {
  margin: 0 0 0 0;
  padding: 0 0 24px 0;
}

@media only screen and (max-width: 992px) {
  /* Typography */
  h2:first-child {
    margin-top: 16px;
  }
}
