/* GLOBAL */
// Site Colors
@import './colorschemes/_drought'; /* theme colors */

/* sitewide styles */
@import '../../../node_modules/@cagov/ds-base-css/src/_core.scss'; 

/* COMPONENTS/BLOCKS */
@import '../../../node_modules/@cagov/ds-accordion/src/index.scss';  /* custom css overrides for default accordion styles */
@import '../../../node_modules/@cagov/ds-branding/src/index.scss'; 
@import '../../../node_modules/@cagov/ds-button-grid/src/index.scss'; /* copied from blocks */
@import '../../../node_modules/@cagov/ds-content-navigation/src/index.scss'; /* copied from blocks */
@import '../../../node_modules/@cagov/ds-feature-card/src/index.scss'; /* copied from block */
@import '../../../node_modules/@cagov/ds-step-list/src/index.scss';
@import '../../../node_modules/@cagov/ds-external-link-icon/src/index.scss';
@import '../../../node_modules/@cagov/ds-pdf-icon/src/index.scss';
@import '../../../node_modules/@cagov/ds-skip-to-content/src/index.scss';
@import '../../../node_modules/@cagov/ds-back-to-top/src/index.scss';

@import '../../components/breadcrumb/index'; /* copied from blocks */
@import '../../components/page-alert/index'; /* copied from gutenberg custom block */
@import '../../components/post-list/_style';
@import '../../components/drought-map/index'; /* copied from gutenberg custom block */

/* NAVIGATION ELEMENTS */
@import '../../../node_modules/@cagov/ds-statewide-header/src/index.scss';
@import '../../../node_modules/@cagov/ds-agency-footer/src/index.scss';
@import '../../../node_modules/@cagov/ds-statewide-footer/src/index.scss';
@import '../../../node_modules/@cagov/ds-dropdown-menu/src/index.scss';
