.cagov-featured-image {
  height: inherit;
  max-height: none;
}

footer .cagov-logo {
  margin-right: var(--s-3,1.5rem);
}

.cagov-featured-section figcaption {
  padding: .5rem 0;
  line-height: 1.375;
}