.cagov-featured-image {
  height: inherit;
  max-height: none;
}

footer .cagov-logo {
  margin-right: var(--s-3,1.5rem);
}

.cagov-featured-section figcaption {
  padding: .5rem 0;
  line-height: 1.375;
}

.cagov-bkgrd-gry {
  background-color: var(--gray-50,#f9f9fa);
}

ul.list-highlight li {
  background-color: var(--gray-50, #f9f9fa);
}

:root {
  --primary-color: var(--primary-700, #691808);
}

.cagov-feature-card-body-content a.wp-block-button__link .pdf-link-icon {
  background-color: #fff;
}