<!-- Google Analytics Setup -->
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-21970760-32', 'auto');
ga('create', 'UA-3419582-2', 'auto', 'tracker2');
ga('set', 'transport', 'beacon');
ga('send', 'pageview');
ga('tracker2.send', 'pageview');

window.onload = function() {
  let s = document.createElement("script");
  s.type = "text/javascript";
  s.src = "https://www.google-analytics.com/analytics.js";
  document.head.append(s);
}
</script>

<!-- Google Analytics 4 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XGV75Q2JDK"></script> 
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-69TD0KNT0F'); // statewide GA4 measurement ID
  gtag('config', 'G-XGV75Q2JDK'); // individual agency GA4 measurement ID
</script>

<!-- per page feedback --> 
<div class="content-footer mb-3">
  <cagov-page-feedback data-endpoint-url="https://fa-go-feedback-001.azurewebsites.net/sendfeedback"></cagov-page-feedback>
</div>

<section aria-label="agency footer" class="site-footer">
  <div class="container">
    <!-- site specific menu links --> 
    <div class="footer-secondary-links">
      {% for menu in contentMenu.items %}
        <a href="{{ menu.url | safe }}">{{ menu.title | safe }}</a>
      {% endfor %}
    </div>

    <!-- social media links  --> 
    <div class="footer-social-links">
      {% for menu in socialMediaLinksMenu.items %}
        <a href="{{ menu.url | safe }}" title="Share via {{ menu.title | safe }}" rel="noopener noreferrer" target="_blank">
          {% set path = "icons/" + menu.post_name + ".svg" %}
          {% include path %}
          <span class="sr-only">{{ menu.title | safe }}</span>
        </a>
      {% endfor %}
    </div>
  </div>
</section>
