.editor-styles-wrapper .wp-block {
  margin: unset;
  max-width: unset;
}

.helping-people-actions {
  margin: 2rem 0 !important;
}

.helping-people, .visit-save-our-water {
  p {
    margin: 1rem 0 !important;
  }
}