drought-spei-map {
  background: repeating-linear-gradient(45deg, white, white 10px, lightgray 10px, lightgray 16px);
}

figcaption {
  font-size: .8em;
  text-align: center;
}

.spei-map-update-date, .spei-map-data-date {
  color: #B71234
}