<div class="reservoir-data-viz">
  <div class="reservoir-data-viz-graphic popover-container" aria-hidden="true">
    <svg width="150" height="150" viewBox="0 0 150 150">
      <defs>
        <!-- Clip in rounded corners on the bottom of the water. -->
        <clipPath id="rounded-water-bottom">
          <rect x="30" y="-15" width="90" height="150" rx="15" ry="15" />
        </clipPath>
      </defs>
      <!-- Create the basin. It's static. -->
      <path id="basin-capacity" d="M0,150 L15,0 h10 v125 a15,15 0 0 0 15,15 h70 a15,15 0 0 0 15,-15 v-125 h10 L150,150 z" />
      <!-- Create the water. The bottom of the water is at y=135. -->
      <rect id="basin-water" x="30" y="0" width="90" height="0" clip-path="url(#rounded-water-bottom)" />
      <!-- Draw the dotted line for the average level. -->
      <line id="historical-line" x1="0" y1="0" x2="150" y2="0" stroke-width="3" stroke-dasharray="3 6" stroke-linecap="round" />
      <!-- Draw an invisible rectangle over the line, to help people hover over it. -->
      <rect id="historical-line-hover-target" x="0" y="0" width="150" height="10" />
    </svg>
  </div>

  <div class="reservoir-data-viz-overall">
    <slot name="current-level"></slot>
  </div>
</div>
<div class="sr-only">
  <slot name="table-data"></slot>
</div>