/*official*/

.official-header {
	background-color: $gray-100;
	padding: 0;
	width: 100%;
	border-bottom: 1px solid $gray-300;

	.container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		box-sizing: border-box;
		max-width: $w-lg;
		margin: 0 auto;
		/*padding: 0 10px 0 10px;*/
	}

	.official-logo {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		.cagov-logo {
			margin: 0 10px 0 0;
		}
	}

	svg {
		padding: 0;
		padding-top: 6px;
		.ca {
			fill: $secondary;
		}
		.gov {
			fill: $primary-dark;
		}
	}

	.official-tag {
		margin: 0 10px;
		font-size: $small-text;
	}

	.official-languages a {
		color: $black;
		font-size: $small-text;
		padding: 0 0.5rem 0 0.5rem;

		&:hover {
			color: $primary-dark;
		}
	}

	.official-languages {
		display: flex;
		flex-wrap: wrap;
		.dropdown {
			position: relative;
			top: -3px;
		}
		// languages button
		button.offcial-more {
			padding-right: 0;
			padding-left: 0.5rem;
			font-size: $small-text;
			border: none;
			text-decoration: underline;
			background-color: $white;
			transition: transform 0.3s;

			&:hover {
				color: $primary-dark;
			}
			&[aria-expanded="false"] {
				.caret-down {
					transition: all 0.3s;
					svg {
						padding: 0 0 0 0;
						width: 20px;
						height: 18px;
						overflow: visible;
						position: relative;
						right: 5px;
					}
				}
			}
			&[aria-expanded="true"] {
				.caret-down {
					transition: transform 0.3s;
					svg {
						padding: 0 0 0 0;
						width: 20px;
						height: 18px;
						position: relative;
						top: 8px;
						left: 4px;
						overflow: visible;
						transform: rotate(180deg);
					}
				}
			}
		}

		.dropdown-content {
			background-clip: padding-box;
			background-color: $white;
			border: 1px solid $primary;
			border-radius: 0.25rem;
			padding: 15px;
			position: absolute;
			right: 0px;
			top: 100%;
			text-align: left;
			z-index: 1000;
			min-width: 150px;
			display: none;
			&.show {
				display: flex;
				flex-direction: column;
			}
		}
	}
}

/* sticky header */
@media (min-width: 768px) {
	header {
		position: sticky;
		top: 0;
		z-index: 99;
	}
}
